.company-name {
    background-color: rgb(212, 164, 42);
    color: white;
    padding: 10px 40px;
}
.navbar {
    background-color: rgb(212, 164, 42);
}
h2 {
    display: flex;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}
.navbar-container {
    background-color: rgb(212, 164, 42);
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.dashboard {
    border: solid 2px rgb(212, 164, 42);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.budget {
    border: solid 2px rgb(212, 164, 42);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.checkbooks {
    border: solid 2px rgb(212, 164, 42);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.money {
    border: solid 2px rgb(212, 164, 42);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 234);
}
div p {
    display: flex;
    align-self: center;
    font-size: 16px;
}
button {
    color: white;
    background-color: rgb(212, 164, 42);
    border-color: rgb(212, 164, 42);
    border-radius: 5px;
    height: 30px;
    width: 220px;
    margin-top: 65px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}